#dashboard-container {
	background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(163,174,157,1) 0%, rgba(163,174,157,1) 50%, rgba(255,255,255,1) 100%);
	height: 93vh;
	padding: 0px;
	
	#logo-container {
		position: absolute;
		left: 55%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}